{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    {{ form_start(form) }}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.discount) }}
    {{ form_row(form.start_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.categories) }}
  <hr>

  <button class="btn btn-info" formnovalidate>Add<span class="glyphicon glyphicon-edit"></span>
  </button>

    {{ form_end(form) }}
    </div>
{% endblock %}