{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.discount) }}
    {{ form_row(form.duration) }}
    {{ form_row(form.categories) }}
  <hr>

    <button class="btn btn-warning" formnovalidate>Edit <span class="glyphicon glyphicon-edit"></span>
  </button>

    {{ form_end(form) }}
{% endblock %}