{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path("admin_add_product_promotion") }}" class="btn btn-info">Add new promotion for certain products</a>
    <a href="{{ path("admin_add_category_promotion") }}" class="btn btn-info">Add new promotion for certain categories</a>
    <a href="{{ path("admin_add_allProducts_promotion") }}" class="btn btn-info">Add new promotion for all products</a>

    <h1>Promotions for certain categories</h1>
    {% if activePromotions|length > 0 %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Discount</th>
                <th>Duration</th>
                <th>Categories</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in activePromotions %}
               {# {% if promotion.categories|length > 0 %}#}
                {% if promotion.isCategoryPromo == true %}
                    <tr>
                        <td>{{ promotion.id }}</td>
                        <td>{{ promotion.name }}</td>
                        <td>{{ promotion.discount }}</td>
                        <td>{{ promotion.categories|join(", ") }}</td>
                        <td>
                            <a href="{{ path("admin_edit_category_promotion", {"id": promotion.id}) }}" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form action="{{ path("admin_delete_category_promotion", {"id": promotion.id}) }}" method="post">
                                <button class="btn btn-danger delete-item" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="emptyAnnotation">No certain categories promotions</p>
    {% endif %}

    <h1>Promotions for certain products</h1>
    {% if activePromotions|length > 0 %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Discount</th>
                <th>Duration</th>
                <th>Products</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in activePromotions %}
                {#{% if promotion.products|length > 0 and promotion.products|length != allProducts|length and promotion.categories|length == 0 %}#}
                {% if promotion.isProductPromo == true %}
                    <tr>
                        <td>{{ promotion.id }}</td>
                        <td>{{ promotion.name }}</td>
                        <td>{{ promotion.discount }}</td>
                        <td>{{ promotion.products|join(", ") }}</td>
                        <td>
                            <a href="{{ path("admin_edit_product_promotion", {"id": promotion.id}) }}" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form action="{{ path("admin_delete_product_promotion", {"id": promotion.id}) }}" method="post">
                                <button class="btn btn-danger delete-item" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="emptyAnnotation">No certain products promotions</p>
    {% endif %}

    <h1>Promotions for all products</h1>
    {% if activePromotions|length > 0 %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Discount</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in activePromotions %}
                {#{% if promotion.categories|length == 0 and promotion.products|length == allProducts|length%}#}
                {% if promotion.isAllProductsPromo == true %}
                    <tr>
                        <td>{{ promotion.id }}</td>
                        <td>{{ promotion.name }}</td>
                        <td>{{ promotion.discount }}</td>
                        <td>
                            <a href="{{ path("admin_edit_allProducts_promotion", {"id": promotion.id}) }}" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form action="{{ path("admin_delete_allProducts_promotion", {"id": promotion.id}) }}" method="post">
                                <button class="btn btn-danger delete-item" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="emptyAnnotation">No all products promotions</p>
    {% endif %}

{% endblock %}