{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    {{ form_start(form) }}

    {{ form_start(form) }}
    {{ form_row(form.orderBy) }}
    {{ form_row(form.criteria) }}
    <hr>

    <button class="btn btn-info" formnovalidate>Reorder<span class="glyphicon glyphicon-edit"></span>
    </button>

    {{ form_end(form) }}
    </div>
{% endblock %}