<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("styles/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("styles/shop.css") }}">
    {% endblock %}
</head>
<body>
<div class="main-content">
    <header class="header">
        <ul class="navbar">
            <li><a href="{{ path('allProducts') }}">All Products</a></li>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR')%}
                    <li><a href="{{ path('admin_home') }}">Admin panel</a></li>
                {% endif %}
                <li><a href="{{ path('add_product') }}">Add Product</a></li>
                <li><a href="{{ path('add_product') }}">My Cart</a></li>
                <li><a href="{{ path('user_profile') }}">My Profile</a></li>
                <li><a href="{{ path('security_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('security_login') }}">Login</a></li>
                <li><a href="{{ path('user_register_form') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{{ asset("scripts/bootstrap.min.js") }}"></script>
    <script src="{{ asset("scripts/main.js") }}"></script>
{% endblock %}
</body>
</html>
