{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            <div class="col-xs-12" id="adminMenu">
            <ul class="list-group">
                {% if is_granted('ROLE_ADMIN')%}
                     <a href="{{ path('get_all_users') }}"><li class="list-group-item" id="adminNav">All Users</li></a>
                {% endif %}
                <a href="{{ path('allProducts') }}"><li class="list-group-item" id="adminNav">All Products</li></a>
                <a href="{{ path('changeOrder') }}"><li class="list-group-item" id="adminNav">Change the order of products</li></a>
                <a href="{{ path('outOfStockProducts') }}"><li class="list-group-item" id="adminNav">Out of stock products</li></a>
                <a href="{{ path('get_all_categories') }}"><li class="list-group-item" id="adminNav">All Categories</li></a>
                <a href="{{ path('get_all_promotions') }}"><li class="list-group-item" id="adminNav">All Promotions</li></a>
            </ul>
        </div>
    </div>
{% endblock %}
