{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Seller</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><img src="/images/product/{{ product.image}}" style="width: 50px;"/></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.seller.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}