{% extends 'base.html.twig' %}

{% block body %}
<div>
<h1>All Products</h1>
   <div class="container">
       <div class="row">
       <aside class="col-md-3">
           {% block sideabr %}
               {{ render(controller("AppBundle:Index:sidebarMenu")) }}
           {% endblock %}
       </aside>
           <main class="col-md-9">
       <table class="table table-responsive table-striped">
           <thead>
           <tr>
               <th>#</th>
               <th>Image</th>
               <th>Name</th>
               <th>Description</th>
               <th>Quantity</th>
               <th>Price</th>
               <th>Seller</th>
           </tr>
           </thead>
           <tbody>
           {% for product in products %}
               <tr>
                   <td>{{ product.id }}</td>
                   <td><img src="/images/product/{{ product.image}}" style="width: 50px;"/></td>
                   <td><a href="{{ path("product_details", {"id": product.id}) }}" >{{ product.name }}</a></td>
                   <td>{{ product.description }}</td>
                   <td>{{ product.quantity }}</td>
                   <td>{{ product.price }}</td>
                   <td>{{ product.seller.username }}</td>
               </tr>
           {% endfor %}
           </tbody>
       </table>
       </main>
       </div>
   </div>
</div>
{% endblock %}