{% extends 'base.html.twig' %}

{% block body %}
    {% if products|length > 0 %}
        <div>
            <div class="container">
                <div class="row">
                    <h1>Products by {{ category.name }}</h1>
                    <aside class="col-md-3">
                        {% block sideabr %}
                            {{ render(controller("AppBundle:Index:sidebarMenu")) }}
                        {% endblock %}
                    </aside>
                    <main class="col-md-9">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <p><img src="/images/product/{{ product.image}}" style="width: 230px; text-align: center"/></p>
                                    <p><a href="{{ path("product_details", {"id": product.id}) }}" >{{ product.name }}</a></p>
                                    <p>Items left: {{ product.quantity }}</p>
                                    <p>Price: {{ product.price }}</p>
                                    <p>Promotion price: {{ product.promotionPrice }}</p>
                                    {% if app.user %}
                                        <p>
                                        <a href="{{ path("cart_add_product", {"id": product.id}) }}" class="btn btn-info">Add to cart<span class="glyphicon glyphicon-info-sign"></span></a>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') or product.seller.id == app.user.id %}
                                            <a href="{{ path("product_edit", {"id": product.id}) }}" class="btn btn-warning">Edit <span class="glyphicon glyphicon-edit"></span></a>
                                            <form action="{{ path("product_delete", {"id": product.id}) }}" method="post">
                                                <button class="btn btn-danger delete-item" type="submit">Delete</button>
                                            </form>
                                        {% endif %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </main>
                </div>
            </div>
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(products) }}
        </div>
    {% else %}
        <p>No products to show</p>
    {% endif %}
{% endblock %}


