{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="container">
            <div class="text-right">
               {% if app.user %}
                    <p style="display: inline-block">
                       {% if is_granted('ROLE_USER') %}
                           <a href="{{ path("cart_add_product", {"id": product.id}) }}" class="btn btn-info">Add to cart<span class="glyphicon glyphicon-info-sign"></span></a>
                       {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') or product.seller.id == app.user.id %}
                            <a href="{{ path("product_edit", {"id": product.id}) }}" class="btn btn-warning">Edit <span class="glyphicon glyphicon-edit"></span></a>
                            <form action="{{ path("product_delete", {"id": product.id}) }}" method="post">
                                <button class="btn btn-danger delete-item" type="submit">Delete</button>
                            </form>
                        {% endif %}
                    </p>
                {% endif %}
            </div>

            <div id="rating">Rating {{ (product.rating / 6) |number_format(2, '.', ',') }} / 6</div>

            <div class="row" id="productDetails">
                <div><img src="/images/product/{{ product.image}}" style="width: 450px; height: 400px;"/></div>
                <div>
                    <p id="profileLabel">Name
                        <p id="profileInfo">{{ product.name}}</p>
                    </p>
                    <br>
                    <p id="profileLabel">Description
                        <p id="profileInfo">{{ product.description }}</p>
                    </p>
                    <br>
                    <p id="profileLabel">Quantity
                        <p id="profileInfo">{{ product.quantity}}</p>
                    </p>
                    <br>
                    {% if product.price != product.promotionPrice %}
                        <p id="profileLabel">Price
                            <p id="profileInfo"><strike>{{ product.price }} lv.</strike></p>
                        </p>
                        <p id="profileLabel">Promotion price
                            <p id="profileInfo">{{ product.promotionPrice}} lv.</p>
                        </p>
                        {% else %}
                        <p id="profileLabel">Price
                            <p id="profileInfo">{{ product.price}} lv.</p>
                        </p>
                    {% endif %}
                    <br>
                    <p id="profileLabel">Created on
                    <p id="profileInfo">{{ product.createdOn|date('Y-m-d H:i:s')}}</p>
                    </p>
                    <br>
                    <p id="profileLabel">Updated on
                    <p id="profileInfo">{{ product.updatedOn|date('Y-m-d H:i:s') }}</p>
                    </p>
                    <br>
                    <p id="profileLabel">Seller
                    <p id="profileInfo">{{ product.seller.username }}</p>
                    </p>
                    <br>
                    </p>
                </p>
            </div>
        </div>

            <div>
            {% if app.user %}
                <a href="{{ path("add_review", {"id": product.id}) }}" style="margin: 5px; text-align: right" class="btn btn-info">Leave review<span class="glyphicon glyphicon-info-sign"></span></a>
            {% endif %}
            </div>
            <div class="reviews">
                    {% for review in reviews %}
                        <div id="currentReview">
                            <p>{{ review.author.username }}:</p>
                            <p> {{ review.comment }}</p>
                            <p id="reviewDate"> {{ review.addedOn|date('Y-m-d H:i:s') }}</p>
                            {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') or review.author.id == app.user.id %}
                                <p>
                                    <form action="{{ path("remove_review", {"id": review.id}) }}" method="post">
                                        <button class="btn btn-danger delete-item" type="submit">Delete review</button>
                                    </form>
                                </p>
                            {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}