{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product details</h1>

    <div class="container">
        <div class="row">
            <div class="panel-body">
                <table class="table table-responsive">
                    <tr>
                        <td><img src="/images/product/{{ product.image}}" style="width: 350px; height: 300px;"/></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td>{{ product.quantity }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <th>Created on</th>
                        <td>{% if product.createdOn %}{{ product.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Last updated on</th>
                        <td>{% if product.updatedOn %}{{ product.updatedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Seller</th>
                        <td>{{ product.seller.username }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ product.category}}</td>
                    </tr>
                </table>
                <hr>
                <div>
                    {% if app.user %}
                    <a href="{{ path("cart_add_product", {"id": product.id}) }}" class="btn btn-info">Add to cart<span class="glyphicon glyphicon-info-sign"></span></a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') or product.seller.id == app.user.id %}
                        <a href="{{ path("product_edit", {"id": product.id}) }}" class="btn btn-warning">Edit <span class="glyphicon glyphicon-edit"></span></a>
                        <form action="{{ path("product_delete", {"id": product.id}) }}" method="post">
                            <button class="btn btn-danger delete-item" type="submit">Delete</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}