{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <main class="col-md-12">
        {{ form_start(form) }}
        <p>{{ form_row(form.name) }}</p>
        <p>{{ form_row(form.description,{ 'label': 'Description' }) }}</p>
        <p>{{ form_row(form.quantity) }} </p>
        <p>{{ form_row(form.price) }} </p>
        <p>{{ form_row(form.category) }}</p>
        <p>{{ form_row(form.promotions) }}</p>
        <p>{{ form_row(form.image_form,{ 'label': 'Click here to add a picture!' }) }}</p>
        <hr>
        <button class="btn btn-warning" formnovalidate>Edit <span class="glyphicon glyphicon-edit"></span>
        </button>

        {{ form_end(form) }}
    </main>
    </div>
</div>
{% endblock %}