{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-right">
        <a href="{{ path("admin_add_category") }}" class="btn btn-info">Add new category</a>
    </div>
<div class="container">
    <h1>Active</h1>
    {% if activeCategories|length > 0 %}
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for category in activeCategories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path("admin_edit_category", {"id": category.id}) }}" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <form action="{{ path("admin_delete_category", {"id": category.id}) }}" method="post">
                        <button class="btn btn-danger delete-item" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p id="emptyAnnotation">No active categories</p>
    {% endif %}

    <h1>Deleted</h1>
    {% if deletedCategories|length > 0 %}
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for category in deletedCategories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="actions">
                    <a href="{{ path("admin_edit_category", {"id": category.id}) }}" class="btn btn-warning">Edit</a>
                </td>
                <td class="actions">
                    <form action="{{ path("admin_restore_category", {"id": category.id}) }}" method="post">
                        <button class="btn btn-info" type="submit">Restore</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p id="emptyAnnotation">No deleted categories</p>
    {% endif %}
</div>
{% endblock %}